*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 31.25em;
    width: 25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.8em;
    box-shadow: 0 1.87em 4em rgba(86, 68, 9, 0.3);
}
.buttons-container{
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-around;
    padding: 0 1em;
}
.buttons-container button{
    font-size: 1em;
    gap: 0.5em;
    padding: 1em;
    border-radius: 2em;
    border: none;
    background-color: #35adc5;
    cursor: pointer;
}
.emoji-container{
    height: 70%;
    width: 100%;
    position: absolute;
    top: 30%;
    border: 1px solid;
}
.emoji{
    height: 15em;
    width: 15em;
    background-color: #f5f90e;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.eyes, .eyebrows, .mouth{
    width: 7vw;
}
.eyes, .eyebrows, .mouth{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.eyes{
    top: 5em;
}
.eyebrows{
    top: 3.12em;
}
.mouth{
    top: 10.5em;
}